# Problem 1 
Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [1]:
import pandas as pd

titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

print(titanic['sex'].value_counts())

sex
male      577
female    314
Name: count, dtype: int64

# Problem 2
Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [ ]:
import pandas as pd

titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

gender_counts = titanic['sex'].value_counts()

print(gender_counts)

sex
male      577
female    314
Name: count, dtype: int64

# Problem 3
Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [3]:
import pandas as pd

# CSV'yi yükle (dosya yolu senin klasörüne göre ayarlanmalı)
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# Her sütundaki unique (benzersiz) değer sayısını bul
unique_counts = titanic.nunique()

print(unique_counts)

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

# Problem 4
pclass değişkeninin unique değerlerinin sayısını bulunuz.

In [5]:
import pandas as pd

# Titanic veri setini oku
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# pclass sütunundaki unique değerlerin sayısı
unique_pclass_count = titanic['pclass'].nunique()

print(f"'pclass' değişkeninde {unique_pclass_count} farklı değer vardır.")
print(titanic['pclass'].unique())

'pclass' değişkeninde 3 farklı değer vardır.
[3 1 2]

# Problem 5
pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz

In [6]:
import pandas as pd

# Titanic veri setini yükle
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# pclass ve parch sütunlarındaki unique değerlerin sayısı
pclass_unique = titanic['pclass'].nunique()
parch_unique = titanic['parch'].nunique()

print(f"'pclass' değişkeninde {pclass_unique} farklı değer vardır.")
print(f"'parch' değişkeninde {parch_unique} farklı değer vardır.")

'pclass' değişkeninde 3 farklı değer vardır.
'parch' değişkeninde 7 farklı değer vardır.

# Problem 6
embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.

In [7]:
import pandas as pd

# Titanic veri setini yükle
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# 1. embarked sütununun tipi nedir?
print("Değiştirmeden önce veri tipi:", titanic['embarked'].dtype)

# 2. category tipine dönüştür
titanic['embarked'] = titanic['embarked'].astype('category')

# 3. Tekrar veri tipini kontrol et
print("Değiştirdikten sonra veri tipi:", titanic['embarked'].dtype)

Değiştirmeden önce veri tipi: object
Değiştirdikten sonra veri tipi: category

# Problem 7
embarked değeri C olanların tüm bilgilerini gösteriniz.

In [8]:
import pandas as pd

# Veri setini yükle
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# embarked değeri "C" olan satırları filtrele
embarked_c = titanic[titanic['embarked'] == 'C']

# Sonuçları göster
print(embarked_c)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
9           1       2  female  14.0      1      0  30.0708        C  Second
19          1       3  female   NaN      0      0   7.2250        C   Third
26          0       3    male   NaN      0      0   7.2250        C   Third
30          0       1    male  40.0      0      0  27.7208        C   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
9    child       False  NaN   Cherbourg   yes  False
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
30     man        True  NaN   Cherbourg    no   True
..     ...         ...  ...         ...   ...    ...
866  woman       False  NaN   Cherbourg   yes  False
874  woman       False  NaN   Cherbourg   yes  False
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
889    man        True    C   Cherbourg   yes   True

[168 rows x 15 columns]

# Problem 8
embarked değeri S olmayanların tüm bilgelerini gösteriniz.

In [9]:
import pandas as pd

# Veri setini yükle
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# embarked değeri S olmayan yolcular
not_s_embarked = titanic[titanic['embarked'] != 'S']

# Sonuçları göster
print(not_s_embarked)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
5           0       3    male   NaN      0      0   8.4583        Q   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
16          0       3    male   2.0      4      1  29.1250        Q   Third
19          1       3  female   NaN      0      0   7.2250        C   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
885         0       3  female  39.0      0      5  29.1250        Q   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
5      man        True  NaN  Queenstown    no   True
9    child       False  NaN   Cherbourg   yes  False
16   child       False  NaN  Queenstown    no  False
19   woman       False  NaN   Cherbourg   yes   True
..     ...         ...  ...         ...   ...    ...
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
885  woman       False  NaN  Queenstown    no  False
889    man        True    C   Cherbourg   yes   True
890    man        True  NaN  Queenstown    no   True

[247 rows x 15 columns]

# Problem 9

Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.

In [10]:
import pandas as pd

# Veri setini yükle
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# Yaşı 30'dan küçük ve kadın olan yolcular
young_women = titanic[(titanic['age'] < 30) & (titanic['sex'] == 'female')]

# Sonuçları göster
print(young_women)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
2           1       3  female  26.0      0      0   7.9250        S   Third
8           1       3  female  27.0      0      2  11.1333        S   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
10          1       3  female   4.0      1      1  16.7000        S   Third
14          0       3  female  14.0      0      0   7.8542        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
880         1       2  female  25.0      0      1  26.0000        S  Second
882         0       3  female  22.0      0      0  10.5167        S   Third
887         1       1  female  19.0      0      0  30.0000        S   First

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
874  woman       False  NaN    Cherbourg   yes  False
875  child       False  NaN    Cherbourg   yes   True
880  woman       False  NaN  Southampton   yes  False
882  woman       False  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True

[147 rows x 15 columns]

# Problem 10
Fare'i 500'den büyük veya yaşı 70’den büyük yolcuların bilgilerini gösteriniz

In [ ]:
import pandas as pd

# Veri setini yükle
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# Fare > 500 veya Yaş > 70 olan yolcular
high_fare_or_old = titanic[(titanic['fare'] > 500) | (titanic['age'] > 70)]

# Sonuçları göster
print(high_fare_or_old)

# Problem 11
Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [11]:
import pandas as pd

# Titanic veri setini oku
titanic = pd.read_csv("/Users/melekkoymen/Desktop/titanic.csv")

# Her sütundaki boş (NaN) değerlerin toplamını bul
missing_values = titanic.isnull().sum()

# Sonuçları göster
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64