# Problem 1
Bir YetGenli yeni aldığı bahçesinin etrafına çit çevirmek istiyor. Bahçenin etrafını çit ile çevirmek için gerekli çit uzunluğunu ve bahçenin alanını hesaplayan fonksiyonu yazınız.

In [8]:
def bahce(a,b):
    cevre=2*(a+b)
    alan=a*b
    print(cevre)
    print(alan)
bahce(20,40)

120
800

# Problem 2
Kendisine gönderilen 2 sayı arasındaki tüm asal sayıları bulan fonksiyonu yazınız.

In [24]:
def asalMı(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def asallarıBul(a, b):
    asallar = [num for num in range(a, b + 1) if asalMı(num)]
    return asallar

# Örnek kullanım
a= int(input("Başlangıç sayısını girin: "))
b= int(input("Bitiş sayısını girin: "))
print(a, "ve", b ,"arasındaki sal sayılar:", asallarıBul(a,b))

2 ve 20 arasındaki sal sayılar: [2, 3, 5, 7, 11, 13, 17, 19]

# Problem 3
YetGen liderlerinin kurdukları girişim unicorn oluyor. YetGen liderleri iş arkadaşlarının alacağı ücretlerini hesaplamak için bir fonksiyon yazdılar. Bu fonksiyonu kullanarak, YetGen liderlerinin iş arkadaşlarına verecekleri ücretleri hesaplayınız.

Ücret hesaplanması çalışma saatine bağlıdır. Bunun için kullanıcıdan çalışma saati bilgisinn alın. Sonrasında yapılacak ödemenin hesaplanacağı computePay() adlı bir fonksiyon oluşturun. Bu fonksiyonun içinde işlemler yapın. Çalışma saati 40 ve altındaysa saat başına ücret 10 TL’dir. 40 saatin üstünde çalışıldıysa saat başına ücret 15 TL sayılmaktadır.

```
Test etmek için 30 saat değerini giriniz,  sonuç 300 TL çıkmalı, 
ikincil test olarak 50 değerini giriniz,  sonuç 750 TL çıkmalı.
```

In [33]:

def computePay(saat):
    if saat<=40:
        ucret=saat*10
    elif saat>40:
        ucret=saat*15
    return ucret
saatler=int(input("Kaç saat çalıştınız:"))

print(computePay(saatler))

750

# Problem 4
YetGenliler zirveye gitmek için toplanıyor. Zirveye gitmek için kiraladıkları araçlar 4'er kişiliktir. Gelecek kişi sayısı için Airtable üzerinde form açılıyor. Gelecek kişi sayısYını alıp dört kişilik araçlara bölüp kalan kişi sayısını döndüren bir fonksiyon yazınız.

In [35]:
def kalan_kisi_sayısı(kisiSayısı):
    return kisiSayısı%4
kisiler=int(input("Gelecek kişi sayısını giriniz:"))
print("Araçlara sığmayan kişi sayısı:",kalan_kisi_sayısı(kisiler))

Araçlara sığmayan kişi sayısı: 1

# Problem 5
sayiTopla() adında bir fonksiyon yazın. sayiTopla() fonksiyonu girilen sayıları toplayarak yazdırmasını sağlayan bir fonksiyon yazınız.

Örneğin sayiTopla(1,2,3,4,5) yazdığımızda 15 çıktısını almalıyız. sayiTopla(1,2,3,4,5,6,7,8,9,10) yazdığımızda 55 çıktısını almalıyız.

In [40]:
def sayiTopla(*x):
    toplam=0
    for i in x:
        toplam+=i
    print(toplam)
sayiTopla(1,2,3,4,5)
sayiTopla(1,2,3,4,5,6,7,8,9,10)

15
55

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız. 

# Problem 6

In [49]:
data = [("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)]
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[('xxx', 1), ('xxx', 1), ('xxx', 2), ('xxx', 3), ('xxx', 4), ('xxx', 9), ('xxx', 13), ('xxx', 26)]

# Problem 7
List comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [42]:
liste=[num for num in range(1,101) if num%2==0]
print(liste)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]